#sidebar-wrapper
  .sidebar-nav
    .sidebar-brand
      br
      br
      br
      br
      br
      h2.online Players Online: 
        span#numOnline
      ul#players.players
      p *this is a live updated list