#sidebar-wrapper
  .sidebar-nav
    .sidebar-brand
      br
      br
      br
      br
      br
      script(src='http://starbound-servers.net/embed.js?id=313&type=votes&size=small')
      p Thanks 
        a(href='/voters') voters!
      h3.online
        span#numOnline
        |  Players Online
      ul#players.players
      p *this is a live updated list
      p 
        a(href='/crash/players') all players ever
      p 
        a(href='/status') server status

