<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link href="assets/css/main.css" rel="stylesheet">
		<link href="starbound-font/starbound-font.css" rel="stylesheet">
		<link rel='stylesheet' href='/style/style.css' />
		<link rel='stylesheet' href='/css/dropzone.css' />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script src="/js/dropzone.js"></script>
	</head>
	<body>
		<h1><%= user %>'s Gallery</h1>
		<a href="view_profile.html"></a>
		<p><a href="/player?name=<%= user %>">View Gallery</a></p>
		<form action="/upload?user=<%= user %>" class="dropzone" id="my-dropzone"></form>
	</body>
</html>